<p>An add-on for the <a href="https://modding-openmw.gitlab.io/abandoned-flat/">Abandoned Flat</a> player home mod that expandes a special storage cell to have containers with massive storage capacity. This interior cell has been totally expanded and revamped with assets from <a href="https://www.nexusmods.com/morrowind/mods/49042">OAAB_Data</a> and <a href="https://www.nexusmods.com/morrowind/mods/44537">Tamriel_Data</a> and a new boss fight. An additional feature adds Lua-powered inventory helper cubes that deposit items of certain types into designated containers.</p>
<p><span class="bold">Requires OpenMW 0.49 or newer</span>!</p>
<div class="center">
  <a href="/img/abandoned-flat-containers.png"><img src="/img/abandoned-flat-containers.png" title="Handy storage tweaks for the classic player home mod Abandoned Flat"/></a>
  <a href="/img/abandoned-flat-containers5.png"><img src="/img/abandoned-flat-containers5.png" title="Lua-powered storage helpers for the classic player home mod Abandoned Flat"/></a>
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\PlayerHomes\abandoned-flat-containers

# Linux
/home/username/games/OpenMWMods/PlayerHomes/abandoned-flat-containers

# macOS
/Users/username/games/OpenMWMods/PlayerHomes/abandoned-flat-containers</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file, for example:
    <pre><code>data="C:\games\OpenMWMods\PlayerHomes\abandoned-flat-containers"</code></pre>
  </li>
  <li>Enable the mod plugins via OpenMW-Launcher (<a href="https://www.youtube.com/watch?v=xzq_ksVuRgc">video</a>), or add this to <code>openmw.cfg</code> (<a href="https://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html#install">official OpenMW documentation</a>):
    <pre><code>content=Abandoned_Flat_Containers.omwaddon
content=Abandoned_Flat_Containers.omwscripts</code></pre></li>
</ol>
